
body {
    background-color: lightblue;
}

.web-container {
    max-width: 850px;
    min-width: auto;
    margin: auto;
}

.bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 850px;
    height: 850px;
    margin: auto;
    margin-top: 50px;
    background-color: lightblue;
    justify-content: center;
}
.bingo-cell {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(rgb(245, 245, 245), rgb(201, 196, 196));
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
.marked {
    background: linear-gradient( rgb(32, 178, 170), rgb(32, 178, 180) );
    z-index: 1;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
}


.dropdown-wrapper {
    position: relative;
    width: 250px;
    margin: auto;
    text-align: center;
    background: linear-gradient( rgb(32, 178, 170), rgb(32, 178, 180) );
}

.dropdown-wrapper .dropdown-button {
    width: 295px;
    min-height: 100px;
    min-width: 250px;
    font-size: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient( rgb(32, 178, 170), rgb(32, 178, 180) );
    font-weight: bold;
    cursor: pointer;
    
}

.dropdown-wrapper .dropdown-content {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient( rgb(32, 178, 170), rgb(32, 178, 180) );
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #000;
    
}  

.dropdown-content li {
    width: 85%;
    display: block;
    list-style: none;
    font-size: 50px;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    
}